# CMake build directory
build-android
data
test/build-android
tools/flatbuffers
tools/protobuf
tools/models
tools/oldmodels
tools/*.feathermodel
tools/*.prototxt
tools/*.caffemodel

# Backup files.
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.bk
*.feathermodel
*.prototxt
*.caffemodel
*.model
*.proto

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
